[submodule "components/arduino"]
	path = components/arduino
	url = https://github.com/espressif/arduino-esp32
[submodule "components/etl/etl"]
	path = components/etl/etl
	url = https://github.com/ETLCPP/etl
[submodule "components/cpp-channel/cpp-channel"]
	path = components/cpp-channel/cpp-channel
	url = https://github.com/andreiavrammsd/cpp-channel
[submodule "components/tinycbor/tinycbor"]
	path = components/tinycbor/tinycbor
	url = https://github.com/intel/tinycbor
[submodule "components/compile-time-init-build"]
	path = components/cib/compile-time-init-build
	url = https://github.com/intel/compile-time-init-build
[submodule "components/baremetal-concurrency/cpp-baremetal-concurrency"]
	path = components/conc/cpp-baremetal-concurrency
	url = https://github.com/intel/cpp-baremetal-concurrency
[submodule "components/stdx/cpp-std-extensions"]
	path = components/stdx/cpp-std-extensions
	url = https://github.com/intel/cpp-std-extensions
[submodule "components/fmt/fmt"]
	path = components/fmt/fmt
	url = https://github.com/fmtlib/fmt
	branch = 10.x
[submodule "components/boost_mp11/mp11"]
	path = components/boost_mp11/mp11
	url = https://github.com/boostorg/mp11
[submodule "components/max3010x/SparkFun_MAX3010x_Sensor_Library"]
	path = components/max3010x/SparkFun_MAX3010x_Sensor_Library
	url = https://github.com/sparkfun/SparkFun_MAX3010x_Sensor_Library
